body {
  background-image: url("https://wallpaperaccess.com/full/39632.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-color: #000000;
}

.jumbotron,
.card,
.nav {
  background-color: rgba(0, 52, 99, 0.5);
  border-color: #000000;
  filter: drop-shadow(0px 0px 10px rgb(8, 67, 126));
}

.wishcard {
  position: absolute;
  background-color: rgba(0, 52, 99, 0.8);
  filter: drop-shadow(0px 0px 10px rgb(8, 67, 126));
  height: 0px;
  margin: 15px 7.5px 0px 7.5px;
  width: 0px;
}

.top-middle {
  position: absolute;
  right: 0px;
  top: -5px;
}
.text-fabulous {
  color: #bd67c4 !important;
}

.jumbotron,
.nav {
  margin: 0px 7.5px;
}

.card-polish {
  width: 355px;
  margin: 15px 7.5px 0px 7.5px;
}

.text-nebulous {
  color: #06bbdd;
}
input.wish {
  width: 255px;
}
.btn-nebulous:hover {
  color: #bd67c4;
}

.btn-nebulous {
  background-color: rgba(2, 19, 37, 0.5);
}

.close {
    position: absolute;
    top: -23px;
    right: -7px;
}

.signin {
    position: absolute;
    width: 0px;
    height: 0px;
    background-color: rgba(0, 52, 99, 0.8);
    right: 0px;
    bottom: 0px;
}

.favorite-popup {
  position: fixed;
  width: 280px;
  background-color: rgba(0, 52, 99, 0.8);
  filter: drop-shadow(0px 0px 10px rgb(8, 67, 126));
  padding: 10px;
  border-radius: 20px;
  border: 1px solid black;
  bottom: middle;
  left: calc(50% - 140px);
  top: calc(50% - 40px);
}

.card,
.jumbotron,
.nav,
input,
button {
  border-radius: 20px !important;
}

.list-group-item {
  background-color: rgba(0, 52, 99, 0.5);
}

.rounded {
    border-radius: 20px !important;
}

.btn-fav {
  color: #ff9977;
  text-shadow: 0 0 5px #000000, 0 0 10px #ddaa00;
}

.btn:hover {
  color: #ffcc33;
  animation: sparkle 1s infinite;
  -webkit-animation: sparkle 1s infinite;
}

@-webkit-keyframes sparkle {
  0% {
    text-shadow: 0 0 5px #ddaa00, 0 0 10px #000000;
  }
  50% {
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ddaa00;
  }
  100% {
    text-shadow: 0 0 5px #ddaa00, 0 0 10px #000000;
  }
}

@keyframes sparkle {
  0% {
    text-shadow: 0 0 5px #ddaa00, 0 0 10px #000000;
  }
  50% {
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ddaa00;
  }
  100% {
    text-shadow: 0 0 5px #ddaa00, 0 0 10px #000000;
  }
}

.nebulous-img {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .card {
    margin: 0 auto;
  }
}

a {
  color: #06bbdd;
}

a:hover {
  color: #bd67c4;
  text-decoration: none;
  animation: sparkle 1s infinite;
}

.btn:focus,
.btn:active,
textarea,
input {
  outline: none !important;
  box-shadow: none !important;
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #06bbdd;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #06bbdd;
}
